
.titlePage{
    background-color: #5ABAA1;
    border-radius: 30px;
    margin:10px; 
}

.buttonSendData{
    margin:30px;
}

.div_button{
    text-align: end;
    margin:0px;
}

.img_product{
    padding: 10px;
    border: 1px solid #00000057;
    margin: 10px;
    width: 100%;
    border-radius: 20px;
}