/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* google fonts */ 

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;500&display=swap');


.tittle{
    font-family: 'IBM Plex Sans Arabic', sans-serif !important;
    font-size: 25px !important;
    font-weight: bold !important;
    color:#52B9A5 !important;
}

.subtittle{
    font-family: 'IBM Plex Sans Arabic', sans-serif !important;
    font-size: 18px !important;
    font-weight: bold !important;
}

.paragraph{
    font-family: 'IBM Plex Sans Arabic', sans-serif !important;
    font-size: 12px !important

}   


.titlePage{
    background-color: #5ABAA1;
    border-radius: 30px;
    margin:10px; 
}

.buttonSendData{
    margin:30px;
}

.div_button{
    text-align: end;
    margin:0px;
}

.img_product{
    padding: 10px;
    border: 1px solid #00000057;
    margin: 10px;
    width: 100%;
    border-radius: 20px;
}